In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingClassifier

/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
dataset = pd.read_csv("Social_Network_Ads.csv")

In [3]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
dataset.shape

(400, 5)

In [12]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
User ID            400 non-null int64
Gender             400 non-null object
Age                400 non-null int64
EstimatedSalary    400 non-null int64
Purchased          400 non-null int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

#### Converting Gender into dummy Variables

In [14]:
from sklearn.preprocessing import OneHotEncoder , LabelEncoder

In [21]:
le = LabelEncoder()
le.fit(dataset['Gender'])

LabelEncoder()

In [22]:
list(le.classes_)

['Female', 'Male']

In [24]:
dataset['Gender'] = le.transform(dataset['Gender'])

In [25]:
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [32]:
y = dataset['Purchased']

In [37]:
X = dataset.drop(['Purchased','User ID'], axis=1)

In [38]:
X.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       0   26            43000
3       0   27            57000
4       1   19            76000

### Splitting into test, train dataset

In [39]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [43]:
X_train.shape

(280, 3)

In [44]:
X_test.shape

(120, 3)

#### Classifying using XGBoost

In [46]:
bgc = GradientBoostingClassifier()

In [48]:
bgc.fit(X_train,y_train)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='auto',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [50]:
y_pred=bgc.predict(X_test)

In [54]:
from sklearn.metrics import confusion_matrix, recall_score, precision_score, f1_score, precision_recall_curve

In [55]:
cm = confusion_matrix(y_test,y_pred)

In [56]:
cm

array([[77,  7],
       [ 6, 30]])

In [57]:
recall_score(y_test,y_pred)

0.8333333333333334

In [58]:
precision_score(y_test, y_pred)

0.8108108108108109

In [59]:
f1_score(y_test, y_pred)

0.8219178082191781